* {
	font-family: JetBrainsMono NerdFont, SourceHanSansJP;
}

window {
	background-color: rgba(46, 52, 64, 0.8);
	border-radius: 12px;
	border: 2px solid #81A1C1;
	margin: 5px;
}

#input {
	padding: 12px;
	color: #ECEFF4;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(76, 86, 106, 0.8);
	margin: 0px 4px;
}

#scroll {
	margin: 8px 4px 8px 4px;
}

#text {
	padding: 8px 12px;
	color: #D8DEE9;
}

#entry {
	border-radius: 8px;
	border: none;
}

#entry:nth-child(even){
	background: transparent;
}

#entry:selected {
	background-color: transparent;
}

#text:selected {
	color: #88C0D0;
	background-color: transparent;
}

#text:selected::before {
    content: "› ";
    color: #88C0D0;
}
